--
-- PostgreSQL database dump
--

\restrict MG20LWOdh1iY9VqPHW2cBzSH5qhntWFseESpRLtxcNlA4txgQ0Xc1tfIZ6Gx8dZ

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: curriculo_sedu
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO curriculo_sedu;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: curriculo_sedu
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO curriculo_sedu;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: curriculo_sedu
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO curriculo_sedu;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: curriculo_sedu
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO curriculo_sedu;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: curriculo_sedu
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO curriculo_sedu;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: curriculo_sedu
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO curriculo_sedu;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: conteudo_anexo; Type: TABLE; Schema: public; Owner: curriculo_sedu
--

CREATE TABLE public.conteudo_anexo (
    id bigint NOT NULL,
    arquivo character varying(100) NOT NULL,
    nome character varying(200) NOT NULL,
    ordem integer NOT NULL,
    conteudo_id bigint,
    categoria_id bigint,
    CONSTRAINT conteudo_anexo_ordem_check CHECK ((ordem >= 0))
);


ALTER TABLE public.conteudo_anexo OWNER TO curriculo_sedu;

--
-- Name: conteudo_anexo_id_seq; Type: SEQUENCE; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE public.conteudo_anexo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.conteudo_anexo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: conteudo_banner; Type: TABLE; Schema: public; Owner: curriculo_sedu
--

CREATE TABLE public.conteudo_banner (
    id bigint NOT NULL,
    titulo character varying(200) NOT NULL,
    subtitulo character varying(300) NOT NULL,
    imagem character varying(100),
    link character varying(200) NOT NULL,
    ordem integer NOT NULL,
    ativo boolean NOT NULL,
    categoria_id bigint,
    tamanho character varying(10) NOT NULL,
    url_imagem character varying(200) NOT NULL,
    altura_personalizada integer,
    CONSTRAINT conteudo_banner_altura_personalizada_check CHECK ((altura_personalizada >= 0)),
    CONSTRAINT conteudo_banner_ordem_check CHECK ((ordem >= 0))
);


ALTER TABLE public.conteudo_banner OWNER TO curriculo_sedu;

--
-- Name: conteudo_banner_id_seq; Type: SEQUENCE; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE public.conteudo_banner ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.conteudo_banner_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: conteudo_carrossel; Type: TABLE; Schema: public; Owner: curriculo_sedu
--

CREATE TABLE public.conteudo_carrossel (
    id bigint NOT NULL,
    titulo character varying(200) NOT NULL,
    ativo boolean NOT NULL,
    lado character varying(10) NOT NULL,
    largura integer NOT NULL,
    altura integer NOT NULL,
    intervalo integer NOT NULL,
    ordem integer NOT NULL,
    codigo_html text NOT NULL,
    CONSTRAINT conteudo_carrossel_altura_check CHECK ((altura >= 0)),
    CONSTRAINT conteudo_carrossel_intervalo_check CHECK ((intervalo >= 0)),
    CONSTRAINT conteudo_carrossel_largura_check CHECK ((largura >= 0)),
    CONSTRAINT conteudo_carrossel_ordem_check CHECK ((ordem >= 0))
);


ALTER TABLE public.conteudo_carrossel OWNER TO curriculo_sedu;

--
-- Name: conteudo_carrossel_id_seq; Type: SEQUENCE; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE public.conteudo_carrossel ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.conteudo_carrossel_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: conteudo_carrosselimagem; Type: TABLE; Schema: public; Owner: curriculo_sedu
--

CREATE TABLE public.conteudo_carrosselimagem (
    id bigint NOT NULL,
    imagem character varying(100),
    url_imagem character varying(200) NOT NULL,
    link character varying(200) NOT NULL,
    ordem integer NOT NULL,
    carrossel_id bigint NOT NULL,
    CONSTRAINT conteudo_carrosselimagem_ordem_check CHECK ((ordem >= 0))
);


ALTER TABLE public.conteudo_carrosselimagem OWNER TO curriculo_sedu;

--
-- Name: conteudo_carrosselimagem_id_seq; Type: SEQUENCE; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE public.conteudo_carrosselimagem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.conteudo_carrosselimagem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: conteudo_cartaz; Type: TABLE; Schema: public; Owner: curriculo_sedu
--

CREATE TABLE public.conteudo_cartaz (
    id bigint NOT NULL,
    titulo character varying(200) NOT NULL,
    imagem character varying(100),
    link character varying(200) NOT NULL,
    lado character varying(10) NOT NULL,
    ordem integer NOT NULL,
    ativo boolean NOT NULL,
    tamanho character varying(10) NOT NULL,
    url_imagem character varying(200) NOT NULL,
    CONSTRAINT conteudo_cartaz_ordem_check CHECK ((ordem >= 0))
);


ALTER TABLE public.conteudo_cartaz OWNER TO curriculo_sedu;

--
-- Name: conteudo_cartaz_id_seq; Type: SEQUENCE; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE public.conteudo_cartaz ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.conteudo_cartaz_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: conteudo_categoria; Type: TABLE; Schema: public; Owner: curriculo_sedu
--

CREATE TABLE public.conteudo_categoria (
    id bigint NOT NULL,
    nome character varying(200) NOT NULL,
    slug character varying(200) NOT NULL,
    descricao text NOT NULL,
    icone character varying(50) NOT NULL,
    imagem character varying(100),
    ordem integer NOT NULL,
    ativa boolean NOT NULL,
    categoria_pai_id bigint,
    mostrar_menu_superior boolean NOT NULL,
    mostrar_navegue_area boolean NOT NULL,
    icone_imagem character varying(100),
    mostrar_conteudos_recentes boolean NOT NULL,
    url_externa character varying(500) NOT NULL,
    mostrar_area_central boolean NOT NULL,
    mostrar_como_card boolean NOT NULL,
    CONSTRAINT conteudo_categoria_ordem_check CHECK ((ordem >= 0))
);


ALTER TABLE public.conteudo_categoria OWNER TO curriculo_sedu;

--
-- Name: conteudo_categoria_id_seq; Type: SEQUENCE; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE public.conteudo_categoria ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.conteudo_categoria_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: conteudo_colunaextra; Type: TABLE; Schema: public; Owner: curriculo_sedu
--

CREATE TABLE public.conteudo_colunaextra (
    id bigint NOT NULL,
    titulo character varying(200) NOT NULL,
    lado character varying(10) NOT NULL,
    ativa boolean NOT NULL,
    ordem integer NOT NULL,
    icone character varying(100) NOT NULL,
    icone_imagem character varying(100),
    CONSTRAINT conteudo_colunaextra_ordem_check CHECK ((ordem >= 0))
);


ALTER TABLE public.conteudo_colunaextra OWNER TO curriculo_sedu;

--
-- Name: conteudo_colunaextra_id_seq; Type: SEQUENCE; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE public.conteudo_colunaextra ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.conteudo_colunaextra_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: conteudo_colunaextrabotao; Type: TABLE; Schema: public; Owner: curriculo_sedu
--

CREATE TABLE public.conteudo_colunaextrabotao (
    id bigint NOT NULL,
    nome character varying(200) NOT NULL,
    link_externo character varying(200) NOT NULL,
    icone character varying(100) NOT NULL,
    icone_imagem character varying(100),
    ordem integer NOT NULL,
    categoria_id bigint,
    coluna_id bigint NOT NULL,
    CONSTRAINT conteudo_colunaextrabotao_ordem_check CHECK ((ordem >= 0))
);


ALTER TABLE public.conteudo_colunaextrabotao OWNER TO curriculo_sedu;

--
-- Name: conteudo_colunaextrabotao_id_seq; Type: SEQUENCE; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE public.conteudo_colunaextrabotao ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.conteudo_colunaextrabotao_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: conteudo_comentario; Type: TABLE; Schema: public; Owner: curriculo_sedu
--

CREATE TABLE public.conteudo_comentario (
    id bigint NOT NULL,
    nome character varying(100) NOT NULL,
    email character varying(254) NOT NULL,
    texto text NOT NULL,
    aprovado boolean NOT NULL,
    data_criacao timestamp with time zone NOT NULL,
    conteudo_id bigint NOT NULL,
    data_resposta timestamp with time zone,
    resposta text NOT NULL,
    status character varying(10) NOT NULL,
    parent_id bigint,
    votos_positivos integer NOT NULL,
    votos_negativos integer NOT NULL,
    CONSTRAINT conteudo_comentario_votos_negativos_check CHECK ((votos_negativos >= 0)),
    CONSTRAINT conteudo_comentario_votos_positivos_check CHECK ((votos_positivos >= 0))
);


ALTER TABLE public.conteudo_comentario OWNER TO curriculo_sedu;

--
-- Name: conteudo_comentario_id_seq; Type: SEQUENCE; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE public.conteudo_comentario ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.conteudo_comentario_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: conteudo_configuracaosite; Type: TABLE; Schema: public; Owner: curriculo_sedu
--

CREATE TABLE public.conteudo_configuracaosite (
    id bigint NOT NULL,
    nome_site character varying(200) NOT NULL,
    descricao text NOT NULL,
    email_contato character varying(254) NOT NULL,
    telefone character varying(50) NOT NULL,
    endereco text NOT NULL,
    logo character varying(100),
    favicon character varying(100),
    home_texto text NOT NULL,
    home_titulo character varying(200) NOT NULL,
    rodape_col1_html text NOT NULL,
    rodape_col1_titulo character varying(200) NOT NULL,
    rodape_col2_html text NOT NULL,
    rodape_col2_titulo character varying(200) NOT NULL,
    rodape_col3_html text NOT NULL,
    rodape_col3_titulo character varying(200) NOT NULL,
    rodape_copyright character varying(300) NOT NULL,
    rodape_imagem character varying(100),
    titulo_areas text NOT NULL,
    titulo_destaques text NOT NULL,
    titulo_recentes text NOT NULL,
    icone_areas character varying(100) NOT NULL,
    icone_areas_imagem character varying(100),
    icone_destaques character varying(100) NOT NULL,
    icone_destaques_imagem character varying(100),
    icone_recentes character varying(100) NOT NULL,
    icone_recentes_imagem character varying(100)
);


ALTER TABLE public.conteudo_configuracaosite OWNER TO curriculo_sedu;

--
-- Name: conteudo_configuracaosite_id_seq; Type: SEQUENCE; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE public.conteudo_configuracaosite ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.conteudo_configuracaosite_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: conteudo_conteudo; Type: TABLE; Schema: public; Owner: curriculo_sedu
--

CREATE TABLE public.conteudo_conteudo (
    id bigint NOT NULL,
    titulo character varying(300) NOT NULL,
    slug character varying(300) NOT NULL,
    tipo character varying(20) NOT NULL,
    resumo text NOT NULL,
    corpo text NOT NULL,
    arquivo character varying(100),
    url_video character varying(200) NOT NULL,
    url_externa character varying(200) NOT NULL,
    imagem_destaque character varying(100),
    status character varying(20) NOT NULL,
    destaque boolean NOT NULL,
    ordem integer NOT NULL,
    data_publicacao timestamp with time zone NOT NULL,
    data_criacao timestamp with time zone NOT NULL,
    data_atualizacao timestamp with time zone NOT NULL,
    autor character varying(200) NOT NULL,
    categoria_id bigint,
    icone_manual character varying(50) NOT NULL,
    recente boolean NOT NULL,
    icone_imagem character varying(100),
    texto_alinhamento character varying(10) NOT NULL,
    texto_fonte character varying(100) NOT NULL,
    texto_tamanho_fonte integer,
    destaque_gerenciado boolean NOT NULL,
    CONSTRAINT conteudo_conteudo_ordem_check CHECK ((ordem >= 0)),
    CONSTRAINT conteudo_conteudo_texto_tamanho_fonte_check CHECK ((texto_tamanho_fonte >= 0))
);


ALTER TABLE public.conteudo_conteudo OWNER TO curriculo_sedu;

--
-- Name: conteudo_conteudo_id_seq; Type: SEQUENCE; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE public.conteudo_conteudo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.conteudo_conteudo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: curriculo_sedu
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO curriculo_sedu;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: curriculo_sedu
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO curriculo_sedu;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: curriculo_sedu
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO curriculo_sedu;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: curriculo_sedu
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO curriculo_sedu;

--
-- Name: inteligencia_alertainteligencia; Type: TABLE; Schema: public; Owner: curriculo_sedu
--

CREATE TABLE public.inteligencia_alertainteligencia (
    id bigint NOT NULL,
    tipo character varying(30) NOT NULL,
    titulo character varying(300) NOT NULL,
    descricao text NOT NULL,
    objeto_tipo character varying(20) NOT NULL,
    objeto_id integer,
    resolvido boolean NOT NULL,
    criado_em timestamp with time zone NOT NULL,
    atualizado_em timestamp with time zone NOT NULL,
    CONSTRAINT inteligencia_alertainteligencia_objeto_id_check CHECK ((objeto_id >= 0))
);


ALTER TABLE public.inteligencia_alertainteligencia OWNER TO curriculo_sedu;

--
-- Name: inteligencia_alertainteligencia_id_seq; Type: SEQUENCE; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE public.inteligencia_alertainteligencia ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inteligencia_alertainteligencia_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inteligencia_downloadevent; Type: TABLE; Schema: public; Owner: curriculo_sedu
--

CREATE TABLE public.inteligencia_downloadevent (
    id bigint NOT NULL,
    anexo_id integer,
    conteudo_id integer,
    nome_arquivo character varying(300) NOT NULL,
    extensao character varying(10) NOT NULL,
    url character varying(500) NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    sessao_id character varying(40) NOT NULL,
    ip inet,
    CONSTRAINT inteligencia_downloadevent_anexo_id_check CHECK ((anexo_id >= 0)),
    CONSTRAINT inteligencia_downloadevent_conteudo_id_check CHECK ((conteudo_id >= 0))
);


ALTER TABLE public.inteligencia_downloadevent OWNER TO curriculo_sedu;

--
-- Name: inteligencia_downloadevent_id_seq; Type: SEQUENCE; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE public.inteligencia_downloadevent ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inteligencia_downloadevent_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inteligencia_pageview; Type: TABLE; Schema: public; Owner: curriculo_sedu
--

CREATE TABLE public.inteligencia_pageview (
    id bigint NOT NULL,
    url character varying(500) NOT NULL,
    tipo_pagina character varying(20) NOT NULL,
    objeto_id integer,
    objeto_slug character varying(300) NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    sessao_id character varying(40) NOT NULL,
    ip inet,
    user_agent character varying(500) NOT NULL,
    referrer character varying(500) NOT NULL,
    dispositivo character varying(10) NOT NULL,
    navegador character varying(20) NOT NULL,
    CONSTRAINT inteligencia_pageview_objeto_id_check CHECK ((objeto_id >= 0))
);


ALTER TABLE public.inteligencia_pageview OWNER TO curriculo_sedu;

--
-- Name: inteligencia_pageview_id_seq; Type: SEQUENCE; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE public.inteligencia_pageview ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inteligencia_pageview_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inteligencia_searchquery; Type: TABLE; Schema: public; Owner: curriculo_sedu
--

CREATE TABLE public.inteligencia_searchquery (
    id bigint NOT NULL,
    termo character varying(300) NOT NULL,
    termo_normalizado character varying(300) NOT NULL,
    n_resultados integer NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    sessao_id character varying(40) NOT NULL,
    ip inet,
    CONSTRAINT inteligencia_searchquery_n_resultados_check CHECK ((n_resultados >= 0))
);


ALTER TABLE public.inteligencia_searchquery OWNER TO curriculo_sedu;

--
-- Name: inteligencia_searchquery_id_seq; Type: SEQUENCE; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE public.inteligencia_searchquery ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inteligencia_searchquery_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: painel_estilobotao; Type: TABLE; Schema: public; Owner: curriculo_sedu
--

CREATE TABLE public.painel_estilobotao (
    id bigint NOT NULL,
    cor_fundo character varying(20) NOT NULL,
    cor_texto character varying(20) NOT NULL,
    fonte character varying(100) NOT NULL,
    tamanho_fonte integer,
    alinhamento character varying(10) NOT NULL,
    pulsante boolean NOT NULL,
    atualizado_em timestamp with time zone NOT NULL,
    categoria_id bigint NOT NULL,
    tamanho character varying(10) NOT NULL,
    CONSTRAINT painel_estilobotao_tamanho_fonte_check CHECK ((tamanho_fonte >= 0))
);


ALTER TABLE public.painel_estilobotao OWNER TO curriculo_sedu;

--
-- Name: painel_estilobotao_id_seq; Type: SEQUENCE; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE public.painel_estilobotao ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.painel_estilobotao_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: painel_vinculo; Type: TABLE; Schema: public; Owner: curriculo_sedu
--

CREATE TABLE public.painel_vinculo (
    id bigint NOT NULL,
    ordem integer NOT NULL,
    pulsante boolean NOT NULL,
    criado_em timestamp with time zone NOT NULL,
    categoria_id bigint NOT NULL,
    conteudo_id bigint NOT NULL,
    CONSTRAINT painel_vinculo_ordem_check CHECK ((ordem >= 0))
);


ALTER TABLE public.painel_vinculo OWNER TO curriculo_sedu;

--
-- Name: painel_vinculo_id_seq; Type: SEQUENCE; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE public.painel_vinculo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.painel_vinculo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: curriculo_sedu
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: curriculo_sedu
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: curriculo_sedu
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: curriculo_sedu
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: curriculo_sedu
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: curriculo_sedu
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
1	4	100
\.


--
-- Data for Name: conteudo_anexo; Type: TABLE DATA; Schema: public; Owner: curriculo_sedu
--



--
-- Data for Name: conteudo_banner; Type: TABLE DATA; Schema: public; Owner: curriculo_sedu
--

COPY public.conteudo_banner (id, titulo, subtitulo, imagem, link, ordem, ativo, categoria_id, tamanho, url_imagem, altura_personalizada) FROM stdin;
1	aviso		banners/aviso-teste.jpeg		0	f	\N	medio		\N
3			banners/hero-faixa.png		0	t	\N	medio		243
\.


--
-- Data for Name: conteudo_carrossel; Type: TABLE DATA; Schema: public; Owner: curriculo_sedu
--

COPY public.conteudo_carrossel (id, titulo, ativo, lado, largura, altura, intervalo, ordem, codigo_html) FROM stdin;
2	Carrossel	t	esquerdo	270	270	3	0	
\.


--
-- Data for Name: conteudo_carrosselimagem; Type: TABLE DATA; Schema: public; Owner: curriculo_sedu
--

COPY public.conteudo_carrosselimagem (id, imagem, url_imagem, link, ordem, carrossel_id) FROM stdin;
7	carrossel/images.jpg			0	2
8	carrossel/images_2.jpg			0	2
9	carrossel/AFINAL_PARA_QUE_SERVE_O_CONSELHO_DE_ESCOLA.mp4		https://www.youtube.com/watch?reload=9&v=hxkESBetuaI	0	2
\.


--
-- Data for Name: conteudo_cartaz; Type: TABLE DATA; Schema: public; Owner: curriculo_sedu
--

COPY public.conteudo_cartaz (id, titulo, imagem, link, lado, ordem, ativo, tamanho, url_imagem) FROM stdin;
3	Olimpiada Digital	cartazes/olimpiada_dig.png	https://olimpiadadigital.com.br	direito	0	t	grande	
4	Olimpiada Brasileira	cartazes/Design_sem_nome.gif	https://olimpiada.fiocruz.br.	direito	0	t	grande	
5	Ser ONU	cartazes/Design_sem_nome1.gif	https://curriculo.sedu.es.gov.br/curriculo/wp-content/uploads/2026/06/EDITAL_No_18-2026-seronu.pdf	direito	0	t	grande	
\.


--
-- Data for Name: conteudo_categoria; Type: TABLE DATA; Schema: public; Owner: curriculo_sedu
--



--
-- Data for Name: conteudo_colunaextra; Type: TABLE DATA; Schema: public; Owner: curriculo_sedu
--

COPY public.conteudo_colunaextra (id, titulo, lado, ativa, ordem, icone, icone_imagem) FROM stdin;
\.


--
-- Data for Name: conteudo_colunaextrabotao; Type: TABLE DATA; Schema: public; Owner: curriculo_sedu
--

COPY public.conteudo_colunaextrabotao (id, nome, link_externo, icone, icone_imagem, ordem, categoria_id, coluna_id) FROM stdin;
\.


--
-- Data for Name: conteudo_comentario; Type: TABLE DATA; Schema: public; Owner: curriculo_sedu
--



--
-- Data for Name: conteudo_configuracaosite; Type: TABLE DATA; Schema: public; Owner: curriculo_sedu
--



--
-- Data for Name: conteudo_conteudo; Type: TABLE DATA; Schema: public; Owner: curriculo_sedu
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: curriculo_sedu
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: curriculo_sedu
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: curriculo_sedu
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: curriculo_sedu
--



--
-- Data for Name: inteligencia_alertainteligencia; Type: TABLE DATA; Schema: public; Owner: curriculo_sedu
--



--
-- Data for Name: inteligencia_downloadevent; Type: TABLE DATA; Schema: public; Owner: curriculo_sedu
--



--
-- Data for Name: inteligencia_pageview; Type: TABLE DATA; Schema: public; Owner: curriculo_sedu
--



--
-- Data for Name: inteligencia_searchquery; Type: TABLE DATA; Schema: public; Owner: curriculo_sedu
--



--
-- Data for Name: painel_estilobotao; Type: TABLE DATA; Schema: public; Owner: curriculo_sedu
--

COPY public.painel_estilobotao (id, cor_fundo, cor_texto, fonte, tamanho_fonte, alinhamento, pulsante, atualizado_em, categoria_id, tamanho) FROM stdin;
\.


--
-- Data for Name: painel_vinculo; Type: TABLE DATA; Schema: public; Owner: curriculo_sedu
--

COPY public.painel_vinculo (id, ordem, pulsante, criado_em, categoria_id, conteudo_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: curriculo_sedu
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: curriculo_sedu
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: curriculo_sedu
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 100, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: curriculo_sedu
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: curriculo_sedu
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 4, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: curriculo_sedu
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, true);


--
-- Name: conteudo_anexo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: curriculo_sedu
--

SELECT pg_catalog.setval('public.conteudo_anexo_id_seq', 91, true);


--
-- Name: conteudo_banner_id_seq; Type: SEQUENCE SET; Schema: public; Owner: curriculo_sedu
--

SELECT pg_catalog.setval('public.conteudo_banner_id_seq', 3, true);


--
-- Name: conteudo_carrossel_id_seq; Type: SEQUENCE SET; Schema: public; Owner: curriculo_sedu
--

SELECT pg_catalog.setval('public.conteudo_carrossel_id_seq', 2, true);


--
-- Name: conteudo_carrosselimagem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: curriculo_sedu
--

SELECT pg_catalog.setval('public.conteudo_carrosselimagem_id_seq', 9, true);


--
-- Name: conteudo_cartaz_id_seq; Type: SEQUENCE SET; Schema: public; Owner: curriculo_sedu
--

SELECT pg_catalog.setval('public.conteudo_cartaz_id_seq', 5, true);


--
-- Name: conteudo_categoria_id_seq; Type: SEQUENCE SET; Schema: public; Owner: curriculo_sedu
--

SELECT pg_catalog.setval('public.conteudo_categoria_id_seq', 238, true);


--
-- Name: conteudo_colunaextra_id_seq; Type: SEQUENCE SET; Schema: public; Owner: curriculo_sedu
--

SELECT pg_catalog.setval('public.conteudo_colunaextra_id_seq', 1, false);


--
-- Name: conteudo_colunaextrabotao_id_seq; Type: SEQUENCE SET; Schema: public; Owner: curriculo_sedu
--

SELECT pg_catalog.setval('public.conteudo_colunaextrabotao_id_seq', 1, false);


--
-- Name: conteudo_comentario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: curriculo_sedu
--

SELECT pg_catalog.setval('public.conteudo_comentario_id_seq', 8, true);


--
-- Name: conteudo_configuracaosite_id_seq; Type: SEQUENCE SET; Schema: public; Owner: curriculo_sedu
--

SELECT pg_catalog.setval('public.conteudo_configuracaosite_id_seq', 1, true);


--
-- Name: conteudo_conteudo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: curriculo_sedu
--

SELECT pg_catalog.setval('public.conteudo_conteudo_id_seq', 668, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: curriculo_sedu
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: curriculo_sedu
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 23, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: curriculo_sedu
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 56, true);


--
-- Name: inteligencia_alertainteligencia_id_seq; Type: SEQUENCE SET; Schema: public; Owner: curriculo_sedu
--

SELECT pg_catalog.setval('public.inteligencia_alertainteligencia_id_seq', 100, true);


--
-- Name: inteligencia_downloadevent_id_seq; Type: SEQUENCE SET; Schema: public; Owner: curriculo_sedu
--

SELECT pg_catalog.setval('public.inteligencia_downloadevent_id_seq', 1860, true);


--
-- Name: inteligencia_pageview_id_seq; Type: SEQUENCE SET; Schema: public; Owner: curriculo_sedu
--

SELECT pg_catalog.setval('public.inteligencia_pageview_id_seq', 974, true);


--
-- Name: inteligencia_searchquery_id_seq; Type: SEQUENCE SET; Schema: public; Owner: curriculo_sedu
--

SELECT pg_catalog.setval('public.inteligencia_searchquery_id_seq', 7, true);


--
-- Name: painel_estilobotao_id_seq; Type: SEQUENCE SET; Schema: public; Owner: curriculo_sedu
--

SELECT pg_catalog.setval('public.painel_estilobotao_id_seq', 1, false);


--
-- Name: painel_vinculo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: curriculo_sedu
--

SELECT pg_catalog.setval('public.painel_vinculo_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: conteudo_anexo conteudo_anexo_pkey; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.conteudo_anexo
    ADD CONSTRAINT conteudo_anexo_pkey PRIMARY KEY (id);


--
-- Name: conteudo_banner conteudo_banner_pkey; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.conteudo_banner
    ADD CONSTRAINT conteudo_banner_pkey PRIMARY KEY (id);


--
-- Name: conteudo_carrossel conteudo_carrossel_pkey; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.conteudo_carrossel
    ADD CONSTRAINT conteudo_carrossel_pkey PRIMARY KEY (id);


--
-- Name: conteudo_carrosselimagem conteudo_carrosselimagem_pkey; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.conteudo_carrosselimagem
    ADD CONSTRAINT conteudo_carrosselimagem_pkey PRIMARY KEY (id);


--
-- Name: conteudo_cartaz conteudo_cartaz_pkey; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.conteudo_cartaz
    ADD CONSTRAINT conteudo_cartaz_pkey PRIMARY KEY (id);


--
-- Name: conteudo_categoria conteudo_categoria_pkey; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.conteudo_categoria
    ADD CONSTRAINT conteudo_categoria_pkey PRIMARY KEY (id);


--
-- Name: conteudo_categoria conteudo_categoria_slug_key; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.conteudo_categoria
    ADD CONSTRAINT conteudo_categoria_slug_key UNIQUE (slug);


--
-- Name: conteudo_colunaextra conteudo_colunaextra_pkey; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.conteudo_colunaextra
    ADD CONSTRAINT conteudo_colunaextra_pkey PRIMARY KEY (id);


--
-- Name: conteudo_colunaextrabotao conteudo_colunaextrabotao_pkey; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.conteudo_colunaextrabotao
    ADD CONSTRAINT conteudo_colunaextrabotao_pkey PRIMARY KEY (id);


--
-- Name: conteudo_comentario conteudo_comentario_pkey; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.conteudo_comentario
    ADD CONSTRAINT conteudo_comentario_pkey PRIMARY KEY (id);


--
-- Name: conteudo_configuracaosite conteudo_configuracaosite_pkey; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.conteudo_configuracaosite
    ADD CONSTRAINT conteudo_configuracaosite_pkey PRIMARY KEY (id);


--
-- Name: conteudo_conteudo conteudo_conteudo_pkey; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.conteudo_conteudo
    ADD CONSTRAINT conteudo_conteudo_pkey PRIMARY KEY (id);


--
-- Name: conteudo_conteudo conteudo_conteudo_slug_key; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.conteudo_conteudo
    ADD CONSTRAINT conteudo_conteudo_slug_key UNIQUE (slug);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: inteligencia_alertainteligencia inteligencia_alertainteligencia_pkey; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.inteligencia_alertainteligencia
    ADD CONSTRAINT inteligencia_alertainteligencia_pkey PRIMARY KEY (id);


--
-- Name: inteligencia_downloadevent inteligencia_downloadevent_pkey; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.inteligencia_downloadevent
    ADD CONSTRAINT inteligencia_downloadevent_pkey PRIMARY KEY (id);


--
-- Name: inteligencia_pageview inteligencia_pageview_pkey; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.inteligencia_pageview
    ADD CONSTRAINT inteligencia_pageview_pkey PRIMARY KEY (id);


--
-- Name: inteligencia_searchquery inteligencia_searchquery_pkey; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.inteligencia_searchquery
    ADD CONSTRAINT inteligencia_searchquery_pkey PRIMARY KEY (id);


--
-- Name: painel_estilobotao painel_estilobotao_categoria_id_key; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.painel_estilobotao
    ADD CONSTRAINT painel_estilobotao_categoria_id_key UNIQUE (categoria_id);


--
-- Name: painel_estilobotao painel_estilobotao_pkey; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.painel_estilobotao
    ADD CONSTRAINT painel_estilobotao_pkey PRIMARY KEY (id);


--
-- Name: painel_vinculo painel_vinculo_conteudo_id_categoria_id_ccc4c4eb_uniq; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.painel_vinculo
    ADD CONSTRAINT painel_vinculo_conteudo_id_categoria_id_ccc4c4eb_uniq UNIQUE (conteudo_id, categoria_id);


--
-- Name: painel_vinculo painel_vinculo_pkey; Type: CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.painel_vinculo
    ADD CONSTRAINT painel_vinculo_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: conteudo_anexo_categoria_id_a3c580cd; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX conteudo_anexo_categoria_id_a3c580cd ON public.conteudo_anexo USING btree (categoria_id);


--
-- Name: conteudo_anexo_conteudo_id_e580f3d3; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX conteudo_anexo_conteudo_id_e580f3d3 ON public.conteudo_anexo USING btree (conteudo_id);


--
-- Name: conteudo_banner_categoria_id_a5230860; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX conteudo_banner_categoria_id_a5230860 ON public.conteudo_banner USING btree (categoria_id);


--
-- Name: conteudo_carrosselimagem_carrossel_id_4a07040b; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX conteudo_carrosselimagem_carrossel_id_4a07040b ON public.conteudo_carrosselimagem USING btree (carrossel_id);


--
-- Name: conteudo_categoria_categoria_pai_id_4cb7db57; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX conteudo_categoria_categoria_pai_id_4cb7db57 ON public.conteudo_categoria USING btree (categoria_pai_id);


--
-- Name: conteudo_categoria_slug_b71bb1e2_like; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX conteudo_categoria_slug_b71bb1e2_like ON public.conteudo_categoria USING btree (slug varchar_pattern_ops);


--
-- Name: conteudo_colunaextrabotao_categoria_id_7fb7a11f; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX conteudo_colunaextrabotao_categoria_id_7fb7a11f ON public.conteudo_colunaextrabotao USING btree (categoria_id);


--
-- Name: conteudo_colunaextrabotao_coluna_id_0bc85693; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX conteudo_colunaextrabotao_coluna_id_0bc85693 ON public.conteudo_colunaextrabotao USING btree (coluna_id);


--
-- Name: conteudo_comentario_conteudo_id_252ce05c; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX conteudo_comentario_conteudo_id_252ce05c ON public.conteudo_comentario USING btree (conteudo_id);


--
-- Name: conteudo_comentario_parent_id_c363869c; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX conteudo_comentario_parent_id_c363869c ON public.conteudo_comentario USING btree (parent_id);


--
-- Name: conteudo_conteudo_categoria_id_a5c1d26d; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX conteudo_conteudo_categoria_id_a5c1d26d ON public.conteudo_conteudo USING btree (categoria_id);


--
-- Name: conteudo_conteudo_slug_69bfc7a0_like; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX conteudo_conteudo_slug_69bfc7a0_like ON public.conteudo_conteudo USING btree (slug varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: inteligenci_objeto__e4f50e_idx; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX inteligenci_objeto__e4f50e_idx ON public.inteligencia_pageview USING btree (objeto_id, tipo_pagina);


--
-- Name: inteligenci_tipo_pa_834e5f_idx; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX inteligenci_tipo_pa_834e5f_idx ON public.inteligencia_pageview USING btree (tipo_pagina, "timestamp");


--
-- Name: inteligencia_downloadevent_timestamp_a3cfd9d7; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX inteligencia_downloadevent_timestamp_a3cfd9d7 ON public.inteligencia_downloadevent USING btree ("timestamp");


--
-- Name: inteligencia_pageview_objeto_slug_f3c4602f; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX inteligencia_pageview_objeto_slug_f3c4602f ON public.inteligencia_pageview USING btree (objeto_slug);


--
-- Name: inteligencia_pageview_objeto_slug_f3c4602f_like; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX inteligencia_pageview_objeto_slug_f3c4602f_like ON public.inteligencia_pageview USING btree (objeto_slug varchar_pattern_ops);


--
-- Name: inteligencia_pageview_sessao_id_cd76a5d6; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX inteligencia_pageview_sessao_id_cd76a5d6 ON public.inteligencia_pageview USING btree (sessao_id);


--
-- Name: inteligencia_pageview_sessao_id_cd76a5d6_like; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX inteligencia_pageview_sessao_id_cd76a5d6_like ON public.inteligencia_pageview USING btree (sessao_id varchar_pattern_ops);


--
-- Name: inteligencia_pageview_timestamp_b7c55b5f; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX inteligencia_pageview_timestamp_b7c55b5f ON public.inteligencia_pageview USING btree ("timestamp");


--
-- Name: inteligencia_searchquery_termo_normalizado_ea90cb3d; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX inteligencia_searchquery_termo_normalizado_ea90cb3d ON public.inteligencia_searchquery USING btree (termo_normalizado);


--
-- Name: inteligencia_searchquery_termo_normalizado_ea90cb3d_like; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX inteligencia_searchquery_termo_normalizado_ea90cb3d_like ON public.inteligencia_searchquery USING btree (termo_normalizado varchar_pattern_ops);


--
-- Name: inteligencia_searchquery_timestamp_0e769c85; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX inteligencia_searchquery_timestamp_0e769c85 ON public.inteligencia_searchquery USING btree ("timestamp");


--
-- Name: painel_vinculo_categoria_id_19fe0372; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX painel_vinculo_categoria_id_19fe0372 ON public.painel_vinculo USING btree (categoria_id);


--
-- Name: painel_vinculo_conteudo_id_9fe982bf; Type: INDEX; Schema: public; Owner: curriculo_sedu
--

CREATE INDEX painel_vinculo_conteudo_id_9fe982bf ON public.painel_vinculo USING btree (conteudo_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: conteudo_anexo conteudo_anexo_categoria_id_a3c580cd_fk_conteudo_categoria_id; Type: FK CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.conteudo_anexo
    ADD CONSTRAINT conteudo_anexo_categoria_id_a3c580cd_fk_conteudo_categoria_id FOREIGN KEY (categoria_id) REFERENCES public.conteudo_categoria(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: conteudo_anexo conteudo_anexo_conteudo_id_e580f3d3_fk_conteudo_conteudo_id; Type: FK CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.conteudo_anexo
    ADD CONSTRAINT conteudo_anexo_conteudo_id_e580f3d3_fk_conteudo_conteudo_id FOREIGN KEY (conteudo_id) REFERENCES public.conteudo_conteudo(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: conteudo_banner conteudo_banner_categoria_id_a5230860_fk_conteudo_categoria_id; Type: FK CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.conteudo_banner
    ADD CONSTRAINT conteudo_banner_categoria_id_a5230860_fk_conteudo_categoria_id FOREIGN KEY (categoria_id) REFERENCES public.conteudo_categoria(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: conteudo_carrosselimagem conteudo_carrosselim_carrossel_id_4a07040b_fk_conteudo_; Type: FK CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.conteudo_carrosselimagem
    ADD CONSTRAINT conteudo_carrosselim_carrossel_id_4a07040b_fk_conteudo_ FOREIGN KEY (carrossel_id) REFERENCES public.conteudo_carrossel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: conteudo_categoria conteudo_categoria_categoria_pai_id_4cb7db57_fk_conteudo_; Type: FK CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.conteudo_categoria
    ADD CONSTRAINT conteudo_categoria_categoria_pai_id_4cb7db57_fk_conteudo_ FOREIGN KEY (categoria_pai_id) REFERENCES public.conteudo_categoria(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: conteudo_colunaextrabotao conteudo_colunaextra_categoria_id_7fb7a11f_fk_conteudo_; Type: FK CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.conteudo_colunaextrabotao
    ADD CONSTRAINT conteudo_colunaextra_categoria_id_7fb7a11f_fk_conteudo_ FOREIGN KEY (categoria_id) REFERENCES public.conteudo_categoria(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: conteudo_colunaextrabotao conteudo_colunaextra_coluna_id_0bc85693_fk_conteudo_; Type: FK CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.conteudo_colunaextrabotao
    ADD CONSTRAINT conteudo_colunaextra_coluna_id_0bc85693_fk_conteudo_ FOREIGN KEY (coluna_id) REFERENCES public.conteudo_colunaextra(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: conteudo_comentario conteudo_comentario_conteudo_id_252ce05c_fk_conteudo_; Type: FK CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.conteudo_comentario
    ADD CONSTRAINT conteudo_comentario_conteudo_id_252ce05c_fk_conteudo_ FOREIGN KEY (conteudo_id) REFERENCES public.conteudo_conteudo(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: conteudo_comentario conteudo_comentario_parent_id_c363869c_fk_conteudo_; Type: FK CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.conteudo_comentario
    ADD CONSTRAINT conteudo_comentario_parent_id_c363869c_fk_conteudo_ FOREIGN KEY (parent_id) REFERENCES public.conteudo_comentario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: conteudo_conteudo conteudo_conteudo_categoria_id_a5c1d26d_fk_conteudo_; Type: FK CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.conteudo_conteudo
    ADD CONSTRAINT conteudo_conteudo_categoria_id_a5c1d26d_fk_conteudo_ FOREIGN KEY (categoria_id) REFERENCES public.conteudo_categoria(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: painel_estilobotao painel_estilobotao_categoria_id_4119333b_fk_conteudo_; Type: FK CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.painel_estilobotao
    ADD CONSTRAINT painel_estilobotao_categoria_id_4119333b_fk_conteudo_ FOREIGN KEY (categoria_id) REFERENCES public.conteudo_categoria(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: painel_vinculo painel_vinculo_categoria_id_19fe0372_fk_conteudo_categoria_id; Type: FK CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.painel_vinculo
    ADD CONSTRAINT painel_vinculo_categoria_id_19fe0372_fk_conteudo_categoria_id FOREIGN KEY (categoria_id) REFERENCES public.conteudo_categoria(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: painel_vinculo painel_vinculo_conteudo_id_9fe982bf_fk_conteudo_conteudo_id; Type: FK CONSTRAINT; Schema: public; Owner: curriculo_sedu
--

ALTER TABLE ONLY public.painel_vinculo
    ADD CONSTRAINT painel_vinculo_conteudo_id_9fe982bf_fk_conteudo_conteudo_id FOREIGN KEY (conteudo_id) REFERENCES public.conteudo_conteudo(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict MG20LWOdh1iY9VqPHW2cBzSH5qhntWFseESpRLtxcNlA4txgQ0Xc1tfIZ6Gx8dZ

